{% layout 'theme.cupon' %}

{% if customer.id == null %}
  <script>
    window.location.href = 'https://mehperu.com/account/login?meh-girls-club';
  </script>
{% endif %}

<div class="grid">

  <div class="grid__item post-large--two-thirds push--post-large--one-sixth">

    <div class="section-header">
      <img src={{ 'MEHGIRLS-CLUB.PNG' | asset_url }} style="width: 100%;" class="image_full">
    </div>
    <hr>
    <div class="rte">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="true" style="font-family: Armata,sans-serif;">Perfil</a>
          <a class="nav-item nav-link" id="nav-meh-girls-club-tab" data-toggle="tab" href="#nav-meh-girls-club" role="tab" aria-controls="nav-meh-girls-club" aria-selected="false" style="font-family: Armata,sans-serif;">Meh girls club</a>
          <a class="nav-item nav-link" id="nav-benefits-tab" data-toggle="tab" href="#nav-benefits" role="tab" aria-controls="nav-benefits" aria-selected="false" style="font-family: Armata,sans-serif;">Beneficios</a>
          <a class="nav-item nav-link" id="nav-wishlist-tab" data-toggle="tab" href="#nav-wishlist" role="tab" aria-controls="nav-wishlist" aria-selected="false" style="font-family: Armata,sans-serif;">Wishlist</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <div class="rte">
            {% if customer %}
              {% assign points = 0 %}
              {% for order in customer.orders %}
                {% if order.financial_status == 'paid' && order.fulfillment_status == 'fulfilled' %}
                    {% assign points = points | plus: order.total_price %}
                {% endif %}
              {% endfor %}
              <br>
              <div align="center">
                <h2 style="font-family: Armata,sans-serif;">Hola ¡{{ customer.name }}!, tienes {{ points }} puntos</h2>
                <h3 style="font-family: Armata,sans-serif; margin-top:0;">Total de órdenes: {{ customer.orders_count }}</h3>
                <h3 style="font-family: Armata,sans-serif; margin-top:0;">Tu rango es: bronce</h3>
              </div>	
              <div align="center" style="font-family: Armata,sans-serif;">
                
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Nombre completo</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Ingrese nombre completo" value="{{ customer.name }}" onClick="this.select();" autocomplete="off" maxlength="100" required>
                  </div>
                </div>
                
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Correo electrónico</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Ingrese correo electrónico" value="{{ customer.email }}" onClick="this.select();" autocomplete="off" maxlength="100" required>
                  </div>
                </div>
                
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Contraseña</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Ingrese contraseña" onClick="this.select();" autocomplete="off" maxlength="100" required>
                  </div>
                </div>
                
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Repetir contraseña</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Validar contraseña ingresada" onClick="this.select();" autocomplete="off" maxlength="100" required>
                  </div>
                </div>
                
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Dirección</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Ingrese su dirección" value="{{ customer.address }}" id="newModalName" onClick="this.select();" autocomplete="off" maxlength="100" required>
                  </div>
                </div>
                
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Teléfono de contacto</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Ingrese un teléfono de contacto" value="{{ customer.phone }}" onClick="this.select();" autocomplete="off" maxlength="100" required>
                  </div>
                </div>
               
                <div class="form-group row">
                  <div class="col-sm-12">
                    <button type="submit" class="btn btn-outline-success">Actualizar información</button>
                  </div>
                </div>
              </div>
              <br>
              </div>
              <hr>
            {% endif %}
          </div>
        </div>
        <div class="tab-pane fade" id="nav-meh-girls-club" role="tabpanel" aria-labelledby="nav-meh-girls-club-tab">tab2</div>
        <div class="tab-pane fade" id="nav-benefits" role="tabpanel" aria-labelledby="nav-benefits-tab">tab3</div>
        <div class="tab-pane fade" id="nav-wishlist" role="tabpanel" aria-labelledby="nav-wishlist-tab">tab3</div>
      </div>
    </div>
    
  </div>

</div>